<p-card>
    <ng-template pTemplate="content">
        <p-panel header="REGISTO DE USUARIO">
            <p-card class="p-grid p-jc-center p-mt-0 cartao-form">
                <!-- <div class="card"> -->
                    <h3>Dados Pessoais</h3>
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-10">
                            <label for="firstname1">Nome</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="state">Genero</label>
                            <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="city">Data de Nascimento</label>
                            <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="firstname1">Municipio</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="firstname1">Bairro</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="firstname1">Rua</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <h3  class="p-field p-col-12 p-md-12 p-mt-4">Dados do Animal</h3>
                        <div class="p-field p-col-12 p-md-10">
                            <label for="firstname1">Nome do Animal</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="state">Genero</label>
                            <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="city">Data de Nascimento</label>
                            <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="firstname1">Peso</label>
                            <input id="firstname1" type="text" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-6">
                        </div>
                        
                        <div class="p-field p-col-12 p-md-3 p-ml-auto p-mt-4">
                            <button pButton type="button" label="Cadastrar"></button>
                        </div>
                    </div>
                <!-- </div> -->
            </p-card>
        </p-panel>
    </ng-template>
</p-card>



<!-- <p-card>
    <ng-template pTemplate="content">
        <p-panel header="REGISTO DE USUARIO">
            <p-card class="p-grid  p-jc-center p-mt-0">
                <h5>Marcação</h5>
                <div class="card p-grid">
                    <div  class="card p-col-12 p-md-6">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-12">
                                <label for="firstname1">Nome</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="state">Genero</label>
                                <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="city">Data de Nascimento</label>
                                <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="firstname1">Municipio</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="firstname1">Bairro</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="firstname1">Rua</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-3 p-ml-auto p-mt-4">
                                <button pButton type="button" label="Agendar"></button>
                            </div>
                        </div>

                    </div>

                    <div  class="card p-col-12 p-md-6">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-12">
                                <label for="firstname1">Nome do Animal</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="state">Genero</label>
                                <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="city">Data de Nascimento</label>
                                <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="state">Peso</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field p-col-12 p-md-3 p-ml-auto p-mt-4">
                                <button pButton type="button" label="Agendar"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </p-card>
        </p-panel>
    </ng-template>
</p-card> -->


<!-- <p-card>
    <ng-template pTemplate="content">
        <p-panel header="REGISTAR USUARIO">
            <div class="card ml-3 mr-3 mt-4">
                <p-steps [model]="items" [readonly]="true"></p-steps>
                <router-outlet></router-outlet>
            </div>
        </p-panel>
    </ng-template>
</p-card> -->


<!-- <p-card>
    <ng-template pTemplate="content">
        <p-panel header="REGISTO DE USUARIO">
            <p-splitter [minSizes]="[100,200]">
                <ng-template pTemplate>
                    <p-card class="p-grid p-jc-center p-mt-6">
                        <div class="card">
                            <h5>Marcação</h5>
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-12">
                                    <label for="firstname1">Nome</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="state">Genero</label>
                                    <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="city">Data de Nascimento</label>
                                    <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Municipio</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Bairro</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Rua</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-3 p-ml-auto p-mt-4">
                                    <button pButton type="button" label="Agendar"></button>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </ng-template>
                <ng-template pTemplate>
                    <p-card class="p-grid p-jc-center p-mt-6">
                        <div class="card">
                            <h5>Marcação</h5>
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-12">
                                    <label for="firstname1">Nome</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="state">Genero</label>
                                    <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="city">Data de Nascimento</label>
                                    <p-calendar [(ngModel)]="dateValue" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Municipio</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Bairro</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="firstname1">Rua</label>
                                    <input id="firstname1" type="text" pInputText> 
                                </div>
                                <div class="p-field p-col-12 p-md-3 p-ml-auto p-mt-4">
                                    <button pButton type="button" label="Agendar"></button>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </ng-template>
            </p-splitter>
        </p-panel>
    </ng-template>
</p-card> -->